body {
  background: peachpuff; margin: 0;
  font-family: sans-serif;
  text-align: center;
}                              

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}                  

.b,.c,.d,.e,.f,.g {
  display: flex;
  border: 2px solid rgb(74, 184, 248);
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 10vh;
}
.h {
  flex-grow: 1;
  border: 5px dotted rgb(106, 73, 252);
}

.a {
  flex-grow: 1;
  border: 10px dotted rgb(134, 108, 248);
}                             

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
 .a {
    width: 100%;
   }
  

}                                  

