* {
  border: 1px solid rgb(122, 206, 255);
}

body {
  background: peachpuff;
}                              

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  gap: 5px;
}                  

.smalls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.smalls > div {
  width: 25%;
}
.a,.h {
  border: 6px dotted rgb(134, 108, 248);
  flex-grow: 1;
}                             

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
 .a {
    width: 100%;
   }
  .smalls {
    max-width: 80%;
    flex: 3;
  }

}