body {
  background: papayawhip;
}                              

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}                  

.middle {
  border: 2px solid black;
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
}
.b {
  display: flex;
  min-height: 20vh;
  flex-grow: 5;
  border: 3px solid rgb(226, 125, 142);

}
.small {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}
.c,.d,.e {
  display: flex;
  border: 2px solid rgb(74, 184, 248);
      height: 100px;
      width: 100px;

}
.f {
  flex-grow: 1;
  border: 5px dotted rgb(106, 73, 252);
}

.a {
  flex-grow: 1;
  border: 10px dotted rgb(134, 108, 248);
}                             

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
 .a {
    width: 100%;
   }
  
  .small {
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: row wrap;
  }
}                                  
